git+https://github.com/IDEA-Research/Grounded-Segment-Anything#subdirectory=GroundingDINO
git+https://github.com/IDEA-Research/Grounded-Segment-Anything#subdirectory=segment_anything
sagemaker==2.221.0
boto3==1.34.110
diffusers==0.27.2
transformers==4.41.0
accelerate==0.30.1
scipy==1.13.0
safetensors==0.4.3
wget==3.2